$primaryColor: #8ec63f;
$secondaryColor: #f26523;
$black: #333;
$white: #f3f3f3;
$blindWhite: #fff;
$primaryColorDark: darken($primaryColor, 10%);
$secondaryColorDark: darken($secondaryColor, 10%);
$darkGray: lighten($black, 10%);
$lightGray: lighten($black, 40%);
$darkWhite: darken($white, 15%);
$darkGrayWhite: darken($white, 10%);
$grayWhite: darken($white, 5%);
$mainRadius: 3px;

.red {color: crimson !important;}
.yellow {color: coral !important;}
.darkgray {color: $darkGray !important;}
.gray-bg {background-color: $black;}
.darkwhite {color: $darkWhite;}
.darkwhite-bg {background-color: $darkWhite;}
.lightgray {color: $lightGray;}
.lightgray-bg {background-color: $lightGray;}
.white {color: $white !important;}
.bg-white {background-color: $white !important;}
.whiter {color: $blindWhite !important;}
.color-primary {color: $primaryColor;}
.bg-color-primary {background-color: $primaryColor !important;}
.color-primary-dark {color: $primaryColorDark;}
.color-secondary {color: $secondaryColor;}
.bg-color-secondary {background-color: $secondaryColor !important;}
.color-secondary-dark {color: $secondaryColorDark;}
.nopadding {padding: 0 !important;}
.nomargin {margin: 0 !important;}
.sidepadding-adj {padding: 0 3px;}
.implicit {filter: blur(1.2px) opacity(.5);}
.quad-trans {filter: opacity(.8);}
.img-form-margin {margin: 1.8em 0 -1.5em;}
.intro-margin {margin: .9em 0 -.2em;}
.text-shadowed {text-shadow: 0 1px 1px $black;}
.hidden {display: none;}

/* Trick for Image Upload button */
#id_img {display: none;}

body {
  //background: $white;
  background: $white url(../img/back.png);
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  padding-top: 3.6em;  /* For static nav-bar and footer */
}
main {
  background: $white url(../img/back.png);
  margin-bottom: 3em;
  position: relative;
  z-index: 10;
}
a {color: $primaryColorDark;}
  a:hover {color: $secondaryColor;}
.navbar {
  background-color: rgba(darken($black, 15%), .85);
  font-size: 1.3em;
}
//.navbar-header {position: relative;}
hr {border-top: 1px solid $secondaryColor;}
.navbar-logo {
  background: url(../img/logo.svg) center center no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 7em;
  height: 2em;
}
  .navbar-logo a img {height: 1.7em;}
.statusbar {
  background-color: darken($white, 5%);
  border-bottom: 1px solid darken($white, 10%);
  height: 30px;
}
.panel {
  background-color: $blindWhite;
  color: $darkGray;
}
.alert {
  border-radius: 0;
  margin-bottom: .5em;
  padding: .3em;
}

// All *-success related colors fixed in source bootstrap/_variables, $brand-success var

.input-group-addon {
  min-width: 2.5em;
  text-align: center;
  padding: 0;
}
.pagination {}
  .pagination>li>a,
  .pagination>li>a:hover {color: $darkGray;}
  .pagination>.active>a,
  .pagination>.active>a:hover {
    background-color: $darkGray;
    border-color: $darkGray;
  }
.thumbnail-footer {
  font-size: 1em;
}
.thumbnail {
  background-color: $blindWhite;
  border-radius: $mainRadius;
  color: $darkGray;
  display: inline-block;
  margin: 1px -1px;
  padding: 0;
}
.img-poster {
  background-color: darken($black, 5%);
  border: 0;
  position: relative;
  text-align: center;
}
.img-thumbnail {
  border: 0;
  border-radius: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.click-back-bar,
.click-next-bar,
.click-prev-bar {
  position: absolute;
}
.click-back-bar {
  $width: 46%;
  $left: (100% - $width) / 2;
  top: 5%;
  left: $left;
  width: 46%;
  height: 90%;
}
.click-next-bar,
.click-prev-bar {
  display: table;
  top: 0;
  width: 3em;
  height: 90%;
}
  .click-next-bar div,
  .click-prev-bar div {
    display: table-cell;
    filter: opacity(.4);
    transition: .4s ease-in-out opacity;
    vertical-align: middle;
  }
  .click-next-bar div:hover,
  .click-prev-bar div:hover {filter: opacity(.8);}
.click-next-bar {
  cursor: w-resize;
  left: 0;
}
.click-prev-bar {
  cursor: e-resize;
  right: 0;
}

.tool-bar {
  letter-spacing: .5em;
  position: absolute;
  bottom: 1em;
  right: 1.5em;
}
  .tool-bar * {cursor: pointer;}
.img-legend {
  background-color: $blindWhite;
  color: $black;
  font-size: 1.2em;
}
.form-container {
  margin-top: 7vh;
  position: relative;
}

footer {
  background-color: rgba(darken($black, 15%), .85);
  color: $lightGray;
  line-height: 3em;
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 3em;
  bottom: 0;
  left: 0;
}
.l-border {border-left: 1px solid $white;}

@media (max-width: 768px) {
  .img-poster {height: 62vh;}
  .dividr {border-bottom: 1px solid $white;}
}

/* Debug ghost elements in element(s) */
//.img-legend * {
//  background-color: #bce8f1 !important;
//  color: #0f0 !important;
//  outline: solid #999 1px !important;
//}
