/*!
 * Start Bootstrap - Creative v3.3.7+1 (http://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  padding-top: 0;
  webkit-tap-highlight-color: #222;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {background-color: #f26523;}
.bg-dark {
  background-color: #222;
  color: white;
}
section {padding: 2.2em 0 1.3em;}
aside {padding: 50px 0;}

header {
  position: relative;
  width: 100%;
  /*min-height: auto;*/
  text-shadow: 0 0 7px rgba(0, 0, 0, .4);
  background: #76a535;
  text-align: center;
  color: white;
  z-index: 10;
}
  header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
  }
  header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
  }

  header .header-content .header-content-inner p {
    font-weight: 300;
    margin-bottom: 50px;
  }
.spot {
  margin-bottom: 2.5em;
  width: 85%;
}
.spot-miso {
  margin-bottom: 1em;
  width: 45%;
}

@media (max-width: 768px) {
  .spot-miso {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .spot-miso {
    width: 100%;
  }
}

/*@media (min-width: 768px) {*/
@media (min-width: 320px) {

  header {min-height: 100%;}

  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {font-size: 50px;}

  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

}

.section-heading {
  margin-top: 0;
  margin-bottom: 1em;}

.service-box {
  max-width: 400px;
  margin: 10px auto 0;
}

@media (min-width: 992px) {
  .service-box {margin: 5px auto 0;}
}

.service-box p {margin-bottom: 0;}
.call-to-action h2 {margin: 0 auto 20px;}
.text-primary {color: #f26523;}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-primary {
  color: white;
  background-color: #f26523;
  border-color: #f26523;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #ee4b28;
  border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {background-image: none;}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #f26523;
  border-color: #f26523;
}
.btn {
  font-weight: 700;
  text-transform: uppercase;
}


