{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="copyright" content="Awesome Team at OMIS" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#d75a1f" /><!-- Color theme for Chrome -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /><!-- Color theme for iOS -->
    <meta name="msapplication-navbutton-color" content="#d75a1f" /><!-- Color theme for Winphone -->
    <meta name="description" content="OMIS. One More Image Share" />
    <meta name="keywords" content="image sharing, photo" />
    <title>OMIS | One More Image Share</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'sharing/img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'sharing/css/vendor.min.css' %}" />
    <link rel="stylesheet" href="{% static 'sharing/css/app.min.css' %}" />
    <link rel="stylesheet" href="{% static 'landing/css/app-landing.min.css' %}" />

  </head>
  <body id="page-top" class="animated fadeIn">
    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <img class="spot" src="{% static 'landing/img/spot.svg' %}" alt="OMIS. One More Image Share" title="OMIS. One More Image Share" />
          <h1 id="homeHeading">One More<br class="hidden-md hidden-lg" /> Image Share</h1>
          <h3>That Rocks…</h3>
          <p>…Somewhere in the Middle of&nbsp; <i class="fa fa-2x fa-instagram" aria-label="Instagram" title="Instagram"></i> &amp; <i class="fa fa-2x fa-flickr" aria-label="Flickr" title="Flickr"></i>&nbsp; ;)</p>
          <h4><a href="#review" class="btn btn-primary btn-lg page-scroll">Get Tour</a> or <a href="/" class="btn btn-primary btn-lg page-scroll">Get Started</a></h4>
        </div>
      </div>
    </header>

    <main>
      <section class="bg-primary" id="review">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">What is it about?</h2>
              <p><b>OMIS</b> app is&nbsp;one more image share on&nbsp;the&nbsp;Web.</p>
              <p>View incog. Sign&nbsp;up or&nbsp;log&nbsp;in to&nbsp;upload and&nbsp;kudos. No&nbsp;fuss, no&nbsp;muss.</p>
              <p>Copy any&nbsp;image URL to&nbsp;a&nbsp;clipboard for&nbsp;sharing.</p>
              <p><b>OMIS</b> app is a&nbsp;cool mate for any of&nbsp;your gadgets—it’s hella adaptive.</p>
            </div>
          </div>
        </div>
      </section>

      <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center">
              <h2 class="section-heading color-primary-dark">Three Descending<br class="hidden-sm hidden-md hidden-lg" /> Pic Streams</h2>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-md-4 col-xs-4 text-center">
              <div class="service-box">
                <i class="fa fa-3x fa fa-picture-o" aria-label="Image Icon"></i>
                <h3>Recent</h3>
                <p>Newest first</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-md-4 col-xs-4 text-center">
              <div class="service-box">
                <i class="fa fa-3x fa-eye color-primary-dark" aria-label="Eye Icon"></i>
                <h3>Popular</h3>
                <p>Most viewed first</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-md-4 col-xs-4 text-center">
              <div class="service-box">
                <i class="fa fa-3x fa-star text-primary" aria-label="Star Icon"></i>
                <h3>Star</h3>
                <p>Most starred first</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Image Specs</h2>
              <p>Upload your fancy schmancy photos, sketches, drawings. Any&nbsp;masterpieces.</p>
              <p>Max size: 7MB • Types: JPEG, GIF, PNG, TIFF.</p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading color-primary-dark">Tips ’n’ Rules</h2>
              <p>Click any thumbnail to see a large image.</p>
              <p>Feel free to&nbsp;use arrow keys for&nbsp;sliding across a selected stream.</p>
              <p>Click <i class="fa fa-star color-secondary" aria-label="Star"></i> to&nbsp;star an&nbsp;image you like.</p>
              <p>Click <i class="fa fa-share" aria-label="Share"></i> to&nbsp;copy shrtimgURL to&nbsp;a&nbsp;clipboard and paste&nbsp;it wherever you&nbsp;want.</p>
              <p>Click a <span class="color-primary-dark">username</span> link to see a whole set of images of a particular user.</p>
              <p>Visit your cabinet <i class="fa fa-male" aria-label="A Man Icon"></i> for both to&nbsp;manage your&nbsp;uploads and&nbsp;find what you&nbsp;faved.</p>
              <p>You’re not&nbsp;allowed to&nbsp;star own&nbsp;images.</p>
              <p>Anonymous users only may&nbsp;view pics.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Got It!</h2>
              <a href="/" class="page-scroll btn btn-success btn-lg">Get Started!</a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading color-primary-dark">Just in Case</h2>
              <p>Ideas, questions, issues?</p>
            </div>
            <div class="col-lg-12 text-center">
              <p><a href="mailto:support@omis.rocks">support@omis.rocks</a></p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="text-center">
      <div class="container">
        Copyright © {% now "Y" %} The Awesome Team at <span class="color-secondary-dark">O</span><span class="color-primary-dark">M</span><span class="color-secondary-dark">I</span><span class="color-primary-dark">S</span>
      </div>
    </footer>

    <script src="{% static 'sharing/js/vendor.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'landing/js/app.min.js' %}"></script>
  </body>
</html>
