{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Bad Request | OMIS{% endblock %}

{% block content %}
  <img class="spot-miso" src="{% static 'landing/img/bad.svg' %}" />
  <h2 id="homeHeading">Bad Request</h2>
  <h4>Try from the <a class="btn btn-primary btn-md" href="/">Homepage</a></h4>
  <p>If this is persistent, <a class="btn btn-primary btn-sm" href="mailto:support@omis.rocks">let us know</a></p>
{% endblock %}
