{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Forbidden Contour | OMIS{% endblock %}

{% block content %}
  <img class="spot-miso" src="{% static 'landing/img/forbidden.svg' %}" />
  <h2 id="homeHeading">You’ve Got&nbsp;Lost</h2>
  <h4>Quickly Run to the <a class="btn btn-primary btn-md" href="/">Homepage</a></h4>
  <p>If this is persistent, <a class="btn btn-primary btn-sm" href="mailto:support@omis.rocks">let us know</a></p>
{% endblock %}
