{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}App Error | MISO{% endblock %}

{% block content %}
  <img class="spot-miso" src="{% static 'landing/img/miso.svg' %}" />
  <h2 id="homeHeading">Something’s Wrong</h2>
  <h4>Try from the <a class="btn btn-primary btn-md" href="/">Homepage</a></h4>
  <p>If this is persistent, <a class="btn btn-primary btn-sm" href="mailto:support@omis.rocks">let us know</a></p>
{% endblock %}
