{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}The Server is Ill | OMIS{% endblock %}

{% block content %}
  <img class="spot-miso" src="{% static 'landing/img/hiccup.svg' %}" />
  <h2 id="homeHeading">OMIS&nbsp;App is&nbsp;Experiencing a&nbsp;Mild&nbsp;Case of&nbsp;the&nbsp;Hiccups</h2>
  <h3>Try again <a class="btn btn-primary btn-md" href="javascript:window.location.reload();"><i class="fa fa-refresh"></i></a></h3>
  <p>If this is persistent, <a class="btn btn-primary btn-sm" href="mailto:support@omis.rocks">let us know</a></p>
{% endblock %}

