{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="copyright" content="Awesome Team at OMIS" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#d75a1f" /><!-- Color theme for Chrome -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /><!-- Color theme for iOS -->
    <meta name="msapplication-navbutton-color" content="#d75a1f" /><!-- Color theme for Winphone -->
    <meta name="description" content="OMIS. One More Image Share" />
    <meta name="keywords" content="image sharing, photo" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'sharing/img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'sharing/css/vendor.min.css' %}" />
    <link rel="stylesheet" href="{% static 'sharing/css/app.min.css' %}" />
    <link rel="stylesheet" href="{% static 'landing/css/app-landing.min.css' %}" />
  </head>
  <body id="page-top">
    <header>
      <div class="header-content">
        <div class="header-content-inner">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </header>
  </body>
</html>
