    <footer class="text-center">
      <div class="container">
        Copyright © {% now "Y" %} The Awesome Team at <span class="color-secondary-dark">O</span><span class="color-primary-dark">M</span><span class="color-secondary-dark">I</span><span class="color-primary-dark">S</span>
      </div>
    </footer>