              <form class="form-horizontal img-form-margin"
                    action=""
                    role="form"
                    method="post"
                    enctype="multipart/form-data">{% csrf_token %}

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <label class="btn btn-success whiter">
                        <i class="fa fa-binoculars"></i><span class="hidden-xs"> Browse</span>
                        {{ form.img }}
                      </label>
                    </span>
                    {{ form.desc }}
                    <span class="input-group-btn">
                      <button class="btn btn-success whiter" type="submit">
                        <i class="fa fa-upload"></i><span class="hidden-xs"> Upload</span>
                      </button>
                    </span>
                  </div>
                </div>
              </form>
