{% load staticfiles %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
          <a href="{% url 'sharing:index' %}" class="navbar-logo" title="One More Image Share"></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar bg-color-secondary"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Items -->
        <div id="topNavBar" class="collapse navbar-collapse">
          {% if '/login/' not in request.path and '/signup/' not in request.path %}
            <ul class="nav navbar-nav">
              <li{% if '/all/' in request.path %} class="active"{% endif %}>
                <a href="{% url 'sharing:all' %}1">
                  <i class="fa fa-picture-o"></i> Recent
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li{% if '/popular/' in request.path %} class="active"{% endif %}>
                <a href="{% url 'sharing:popular' %}1">
                  <i class="fa fa-eye {% if '/popular/' in request.path %}color-primary{% endif %}"></i> Popular
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li{% if '/star/' in request.path %} class="active"{% endif %}>
                <a href="{% url 'sharing:star' %}1">
                  <i class="fa fa-star {% if '/star/' in request.path %}color-secondary{% endif %}"></i> Star
                </a>
              </li>
            </ul>
          {% endif %}
          <hr class="visible-xs color-secondary" />
          <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/tour/">
                  <i class="fa fa-question-circle" aria-hidden="true"></i> Tour
                </a>
              </li>
            {% if user.is_authenticated %}
              <li class="active">
                <a href="{% url 'sharing:user' %}{{ user }}/">
                  <i class="fa fa-male"></i> {{ user }}
                </a>
              </li>
              <li>
                <a href="{% url 'sharing:logout' %}">
                  <i class="fa fa-sign-out"></i> Logout
                </a>
              </li>
            {% else %}
              <li{% if '/login/' in request.path %} class="active"{% endif %}>
                <a href="{% url 'sharing:login' %}">
                  <i class="fa fa-sign-in"></i> Log In
                </a>
              </li>
              <li{% if '/signup/' in request.path %} class="active"{% endif %}>
                <a href="{% url 'sharing:signup' %}">
                  <i class="fa fa-pencil-square-o"></i> Sign Up
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
        <!--^^ Items ^^-->
      </div>
    </nav>