{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="Copyright" content="Awesome Team at OMIS" />
    <meta name="theme-color" content="#7cad37" /><!-- Color theme for Chrome -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /><!-- Color theme for iOS -->
    <meta name="msapplication-navbutton-color" content="#7cad37" /><!-- Color theme for Winphone -->
    <meta name="description" content="OMIS. One More Image Share" />
    <meta name="keywords" content="image sharing, photo" />
    <title>OMIS | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'sharing/img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'sharing/css/vendor.min.css' %}" />
    <link rel="stylesheet" href="{% static 'sharing/css/app.min.css' %}" />
  </head>
  <body>
    {% block header %}
      {% include "sharing/includes/_header.html" %}
    {% endblock %}

    <div class="statusbar">
    {% block message %}
    {% endblock %}
    </div>

    <main>
      <div class="container">
        <div class="row text-center">
          <section class="col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
            {% block content %}
            {% endblock %}
          </section>

          {% block form %}
          {% endblock %}
        </div>
      </div>

      {% block detail %}
      {% endblock %}
    </main>

    {% if footer != 'nofooter' %}
      {% block footer %}
          {% include "sharing/includes/_footer.html" %}
      {% endblock %}
    {% endif %}

    <script src="{% static 'sharing/js/vendor.min.js' %}"></script>
    <script src="{% static 'sharing/js/app.min.js' %}"></script>
  </body>
</html>
