{% extends 'sharing/base.html' %}
{% block title %}{{ image.desc }} by {{ user_name }}{% endblock %}

{% block message %}
  {% if messages %}
    {% for message in messages %}
      <div{% if message.tags %} id="alert-dismiss" class="alert alert-{{ message.tags }} text-center"{% endif %}>
        <b class="animated fadeIn">{{ message }}</b>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block detail %}
<!-- Poster -->
      <div class="img-poster">
        <img class="img-thumbnail"
             src="{{ image.img.url }}"
             alt="{{ image.desc }}"
             title="{{ image.desc }}" />

        {% if next_image %}
          <a href="/{{ next_image }}/{{ sorting }}" class="click-next-bar animated fadeInLeft" title="Next image" id="nextImage" data-track="nextPhotoButtonClick">
            <div class="text-shadowed text-right white">
              <i class="fa fa-arrow-circle-o-left fa-2x"></i>
            </div>
          </a>
        {% endif %}

        <a href="{% if previous_page %}{{ previous_page }}{% else %}javascript:history.go(-1);{% endif %}"
           class="click-back-bar"
           title="Go back"></a>

        {% if prev_image %}
          <a href="/{{ prev_image }}/{{ sorting }}" class="click-prev-bar animated fadeInRight" id="prevImage" title="Previous image">
            <div class="text-shadowed text-left white">
              <i class="fa fa-arrow-circle-o-right fa-2x"></i>
            </div>
          </a>
        {% endif %}

        <div class="tool-bar text-shadowed">

          <a href="javascript:void()"
             data-toggle="tooltip"
             data-placement="top"
             id="shareTooltip"
             title="Copied!"></a>

          <i class="show-tooltip fa fa-share fa-2x white"
             id="clipBtn"
             data-clipboard-text="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/{{ image.slug }}"
             title="Click to copy link"></i>

          {% if user.is_authenticated and user_name != request.user %}
            <i class="fa fa-2x color-secondary fa-star{% if not star_flag %}-o{% endif %}" id="starred" data-id="{{ image.slug }}" title="Click to star"></i>
          {% endif %}
        </div>
      </div>
<!-- Poster -->

      <div class="row img-legend">
        <div class="col-xs-10 col-xs-offset-1 nopadding">

<!-- 1st block -->
          <div class="col-sm-7 text-center nopadding">
            <div class="col-xs-12 nopadding">
              <small>
                <b>{% if image.desc %}
                    {{ image.desc }}
                   {% else %}
                    <i class="darkwhite">No Title</i>
                   {% endif %}</b>
              </small>
            </div>

            <div class="col-xs-12 nopadding">
              <small>
                <a href="/u/{{ user_name }}">{{ user_name }}</a>
              </small>
            </div>
          </div>
<!-- 1st block -->

          <div class="col-sm-5 nopadding">
<!-- 2nd block -->
              <div class="col-xs-3 col-sm-2 text-center bg-white nopadding">
                <div class="col-xs-12 nopadding">
                  <i class="fa fa-eye color-primary-dark"></i>
                </div>
                <div class="col-xs-12 nopadding">
                  <small>{{ image.rev_count }}</small>
                </div>
              </div>

              <div class="col-xs-3 col-sm-2 text-center nopadding">
                  <div class="col-xs-12 nopadding">
                    <i class="fa fa-star color-secondary"></i>
                  </div>
                  <div class="col-xs-12 nopadding">
                    <small id="s-counter">{{ image.star_count }}</small>
                  </div>
              </div>

              <div class="col-xs-3 col-sm-4 text-center bg-white nopadding">
                <div class="col-xs-12 nopadding">
                  <i class="fa fa-upload fa"></i>
                </div>

                <div class="col-xs-12 nopadding">
                  <small>{{ image.upl_date|date:'M d, ’y' }}</small>
                </div>
              </div>

              <div class="col-xs-3 col-sm-4 text-center nopadding">
                <div class="col-xs-12 nopadding">
                  <i class="fa fa-arrows"></i>
                </div>
                <div class="col-xs-12 nopadding">
                  <small>{{ image.img.width }}×{{ image.img.height }}</small>
                </div>
              </div>
<!-- 2nd block -->

          </div>

          </div>

        </div>
      </div>
{% endblock detail %}