{% extends 'sharing/base.html' %}
{% block title %}One More Image Share{% endblock %}

{% block message %}
  {% if messages %}
    {% for message in messages %}
      <div{% if message.tags %} id="alert-dismiss" class="alert alert-{{ message.tags }} text-center"{% endif %}>
        <b class="animated fadeIn">{{ message }}</b>
      </div>
    {% endfor %}
  {% endif %}

  {% if error_message %}
    <div id="alert-dismiss" class="alert alert-danger text-center" role="alert">
      <b>{{ error_message }}</b>
    </div>
  {% endif %}

  {% if form.img.errors %}
    {% for error in form.img.errors %}
    <div id="alert-dismiss" class="alert alert-danger text-center" role="alert">
      <b class="animated fadeIn">{{ error|escape }}</b>
    </div>
    {% endfor %}
  {% endif %}
{% endblock message %}

{% block content %}
        <section class="row">
          <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            {% if user.is_authenticated %}
              {% include 'sharing/includes/_form_img.html' %}
            {% else %}
              <h3 class="darkgray intro-margin">
                <i class="fa fa-eye color-primary-dark"></i> Incog.
                <i class="fa fa-pencil-square-o lightgray"></i> or
                <i class="fa fa-sign-in lightgray"></i> to
                <i class="fa fa-upload lightgray"></i> and
                <i class="fa fa-star color-secondary"></i>
              </h3>
            {% endif %}
          </div>
        </section>

        <section class="row">
          <div class="col-xs-12">
            <h3 class="text-left"><a href="{% url 'sharing:all' %}1">Recent</a></h3>
            <div class="row">
              {% for image in images_recent %}
                <div class="col-sm-2 col-xs-4 sidepadding-adj">
                  <figure class="thumbnail">
                    <a href="{% url 'sharing:detail' image.slug %}upload">
                      <img src="{{ image.img_thmb.url }}"
                           alt="{{ image.desc }}"
                           title="{{ image.desc }}" />
                    </a>
                    <figcaption class="thumbnail-footer text-center">
                      <div class="col-xs-6 nopadding">
                        <i class="fa fa-eye color-primary"></i> {{ image.rev_count }}
                      </div>
                      <div class="col-xs-6 nopadding">
                        <i class="fa fa-star color-secondary"></i> {{ image.star_count }}
                      </div>
                    </figcaption>
                  </figure>
                </div>
              {% endfor %}
            </div>

            <h3 class="text-left"><a href="{% url 'sharing:popular' 1 %}">Popularity</a></h3>
            <div class="row">
              {% for image in images_popular %}
                <div class="col-sm-2 col-xs-4 sidepadding-adj">
                  <figure class="thumbnail">
                    <a href="{% url 'sharing:detail' image.slug %}popular">
                      <img src="{{ image.img_thmb.url }}"
                           alt="{{ image.desc }}"
                           title="{{ image.desc }}" />
                    </a>
                    <figcaption class="thumbnail-footer text-center">
                      <div class="col-xs-6 nopadding">
                        <i class="fa fa-eye color-primary"></i> {{ image.rev_count }}
                      </div>
                      <div class="col-xs-6 nopadding implicit">
                        <i class="fa fa-star color-secondary"></i> {{ image.star_count }}
                      </div>
                    </figcaption>
                  </figure>
                </div>
              {% endfor %}
            </div>

            <h3 class="text-left"><a href="{% url 'sharing:star' 1 %}">Stars</a></h3>
            <div class="row">
              {% for image in images_star %}
                <div class="col-sm-2 col-xs-4 sidepadding-adj">
                  <figure class="thumbnail">
                    <a href="{% url 'sharing:detail' image.slug %}star">
                      <img src="{{ image.img_thmb.url }}"
                           alt="{{ image.desc }}"
                           title="{{ image.desc }}" />
                    </a>
                    <figcaption class="thumbnail-footer text-center">
                      <div class="col-xs-6 nopadding implicit">
                        <i class="fa fa-eye color-primary"></i> {{ image.rev_count }}
                      </div>
                      <div class="col-xs-6 nopadding">
                        <i class="fa fa-star color-secondary"></i> {{ image.star_count }}
                      </div>
                    </figcaption>
                  </figure>
                </div>
              {% endfor %}
            </div>

          </div>
        </section>
{% endblock content %}