{% extends 'sharing/base.html' %}
{% block title %}Log In{% endblock %}

{% block message %}
  {% if error_message %}
    <div id="alert-dismiss" class="alert alert-danger text-center" role="alert">
      <b class="animated fadeIn">{{ error_message }}</b>
    </div>
  {% endif %}
{%  endblock %}

{% block form %}
          <section class="form-container col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 animated slideInDown">
            <div class="panel panel-default" style="display: inline-block;">
              <div class="panel-body nopadding">
                <h3><i class="fa fa-sign-in"></i> Log In</h3>

                <form class="form-horizontal"
                      role="form"
                      action="{% url 'sharing:login' %}"
                      method="post"
                      enctype="multipart/form-data">{% csrf_token %}

                  <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                      <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">
                          <i class="fa fa-male"></i>
                        </span>
                        <input id="id_username"
                               class="form-control"
                               maxlength="30"
                               name="username"
                               type="text">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                      <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">
                          <i class="fa fa-key"></i>
                        </span>
                        <input id="id_password"
                               class="form-control"
                               maxlength="30"
                               name="password"
                               type="password">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-success">
                      <i class="fa fa-sign-in"></i> Log In
                    </button>
                  </div>
                </form>

              </div>

              <div class="panel-footer">
                <a href="{% url 'sharing:signup' %}">Sign Up</a> Instead.<br />
                <a href="{% url 'sharing:index' %}">Continue</a> Incog.
              </div>
            </div>
          </section>
{% endblock form %}