{% extends 'sharing/base.html' %}
{% load staticfiles %}

{% block title %}
  {% if user.get_username in request.path %}
    Your Images
  {% elif '/u/' in request.path %}
    Images of {{ user_name }}
  {% elif '/popular/' in request.path %}
    Images by Popularity
  {% elif '/star/' in request.path %}
    Images by Stars
  {% else %}
    Recent Images
  {% endif %}
{% endblock %}

{% block message %}
  {% if messages %}
    {% for message in messages %}
      <div{% if message.tags %} id="alert-dismiss" class="alert alert-{{ message.tags }} text-center"{% endif %}>
        <b class="animated fadeIn">{{ message }}</b>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}
          <section>
            {% if user.is_authenticated and user.get_username in request.path %}
              <h2 class="text-right animated fadeIn">{{ greeting }}, {{ user }}!</h2>
              <h3 class="text-left">
                <i class="fa fa-upload"></i>
                {% if stars %}<a href="/u/{{ user_name }}">{% endif %}Yours{% if stars %}</a>{% endif %} |
                <i class="fa fa-star{% if stars %} color-secondary{% endif %}"></i>
                {% if not stars %}<a href="/u/{{ user_name }}/starred/">{% endif %}Starred{% if not stars %}</a>{% endif %}
              </h3>
              {% if not images %}
                <h4>{% if not stars %}
                      It’s a pity you didn’t share anything yet{% else %}
                      Unfortunately you didn’t fave anything so far{% endif %}.</h4>
                <h4>{% if not stars %}
                      Feel free to upload something beautiful on the <a href="{% url 'sharing:index' %}">Homepage</a>
                    {% else %}
                      Visit the <a href="{% url 'sharing:index' %}">Homepage</a> and star images you like{% endif %}.</h4>
              {% endif %}
            {% else %}
              {% if not images %}
                <h3>{{ user_name }} didn’t share any image yet.</h3>
                <h4>The emptiness is all around.</h4>
              {% else %}
                <h3 class="text-left">
                  {% if '/popular/' in request.path %}
                    Images by Popularity
                  {% elif '/star/' in request.path %}
                    Images by Stars
                  {% elif '/u/' in request.path %}
                    Images of {{ user_name }}
                  {% else %}
                    Recent Images
                  {% endif %}
                </h3>
              {% endif %}
            {% endif %}
          </section>

          <section>
            <div class="row">
            {% if images %}
              {% for image in images %}
                <div class="col-sm-2 col-xs-4 sidepadding-adj">
                  <figure class="thumbnail">
                    <a href="{% url 'sharing:detail' image.slug %}{% if '/popular/' in request.path %}popular{% elif '/star/' in request.path %}star{% elif '/all/' in request.path %}upload{% elif '/u/' in request.path %}user{% endif %}">
                      <img src="{{ image.img_thmb.url }}"#}
                           alt="{{ image.desc }}"
                           title="{{ image.desc }}" />
                    </a>
                    {% if user.is_authenticated and user.get_username in request.path and not stars %}
                      <figcaption class="thumbnail-footer text-center">
                        <a href="{% url 'sharing:del' image.slug %}">
                          <i class="fa fa-trash-o text-danger"></i>
                        </a>
                      </figcaption>
                    {% else %}
                      <figcaption class="thumbnail-footer text-center">
                        <div class="col-xs-6 nopadding
                                    {% if '/star/' in request.path %}implicit{% endif %}">
                          <i class="fa fa-eye color-primary"></i> {{ image.rev_count }}
                        </div>
                        <div class="col-xs-6 nopadding
                                    {% if '/popular/' in request.path %}implicit{% endif %}">
                          <i class="fa fa-star color-secondary"></i> {{ image.star_count }}
                        </div>
                      </figcaption>
                    {% endif %}
                  </figure>
                </div>
                {% if forloop.counter|divisibleby:6 and not forloop.last %}
                  </div>
                  <div class="row">
                {% endif %}
              {% endfor %}
              {# It's not an error here about unclosed div #}
           </section>

            {% if images.has_other_pages %}
              <section>
                <ul class="pagination">
                  {% if images.has_previous %}
                    <li>
                      <a href="{{ images.previous_page_number }}">
                        <i class="fa fa-angle-left"></i> Prev</a>
                    </li>
                  {% endif %}
                  {% for page in images.paginator.page_range %}
                    <li class="{% if images.number == page %}active{% endif %}">
                      <a href="{{ page }}">{{ page }}</a>
                    </li>
                  {% endfor %}
                  {% if images.has_next %}
                    <li>
                      <a href="{{ images.next_page_number }}">Next
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </section>
            {% endif %}
          {% endif %}
{% endblock content %}