{% extends 'sharing/base.html' %}
{% block title %}Sign Up{% endblock %}

{% block message %}
  {% if form.username.errors %}
      {% for error in form.username.errors %}
          <div id="alert-dismiss" class="alert alert-danger text-center" role="alert">
            <b class="animated fadeIn">{{ error|escape }}{{ message.tags }}</b>
          </div>
      {% endfor %}
  {% endif %}
{% endblock %}

{% block form %}
          <section class="form-container col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 animated slideInDown">
            <div class="panel panel-default">
              <div class="panel-body nopadding">
                <h3><i class="fa fa-sign-in"></i> Sign Up</h3>

                <form class="form-horizontal"
                      role="form"
                      action=""
                      method="post"
                      enctype="multipart/form-data">{% csrf_token %}

                  <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                      <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">
                          <i class="fa fa-at"></i>
                        </span>
                        {{ form.email }}
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                      <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">
                          <i class="fa fa-male"></i>
                        </span>
                        <!-- Chrome Autocomplete Fix -->
                        <input class="hidden" type="text" name="username"/>
                        {{ form.username }}
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                      <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">
                          <i class="fa fa-key"></i>
                        </span>
                        {{ form.password }}
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-success">
                      <i class="fa fa-pencil-square-o"></i> Sign Up
                    </button>
                  </div>

                </form>

              </div>

              <div class="panel-footer">
                <a href="{% url 'sharing:login' %}">Log In</a> Instead.<br />
                <a href="{% url 'sharing:index' %}">Continue</a> Incog.
              </div>
            </div>
          </section>
{% endblock form %}